Repository hmcts/juror-scheduler-api, pull requests merged in 2023-11, with the labels that each got.

#34 Fixed issue where getLatestStatus would return the first status rathe…
  src/integrationTest/java/uk/gov/hmcts/juror/scheduler/controllers/AbstractIT.java
  src/integrationTest/java/uk/gov/hmcts/juror/scheduler/testsupport/ITestUtil.java
  src/main/java/uk/gov/hmcts/juror/scheduler/datastore/entity/TaskEntity.java
  src/main/java/uk/gov/hmcts/juror/scheduler/datastore/model/ConditionType.java
  src/main/java/uk/gov/hmcts/juror/scheduler/datastore/model/Status.java
  src/main/java/uk/gov/hmcts/juror/scheduler/datastore/repository/TaskRepository.java
  src/main/java/uk/gov/hmcts/juror/scheduler/service/impl/TaskServiceImpl.java
  src/main/resources/application-dev.yml
  src/main/resources/application-test.yml
  src/main/resources/application.yml
  src/main/resources/db/migration/V1__Initial.sql
  src/test/java/uk/gov/hmcts/juror/scheduler/datastore/model/ConditionTypeTest.java
  src/test/java/uk/gov/hmcts/juror/scheduler/service/impl/TaskServiceImplTest.java
  src/test/resources/testData/authenticationController/getUserDetails.json
  src/test/resources/testData/authenticationController/postLoginValid.json
  src/test/resources/testData/authenticationController/postRegisterValid.json
  src/test/resources/testData/authenticationController/postUpdatePermissionsValid.json
  src/test/resources/testData/authenticationController/postUserEmailRequestValid.json
Labels: ns:juror, prd:juror, rel:juror-scheduler-api-pr-34

#41 Reverted flyway version update to fix issue with test containers.
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/juror/scheduler/controllers/ContainerDB.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-api-pr-41

#44 remove unused import
  .github/renovate.json
  src/integrationTest/java/uk/gov/hmcts/juror/scheduler/controllers/ContainerDB.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-api-pr-44

#46 JM-5322: use hmcts spring-support-library
  build.gradle
  lib/spring-support-library-0.1.5-plain.jar
  src/integrationTest/java/uk/gov/hmcts/juror/scheduler/controllers/ContainerDB.java
  src/main/resources/application.yml
  src/main/resources/db/migration/scheduler-V1__Initial.sql
Labels: ns:juror, prd:juror, rel:juror-scheduler-api-pr-46
