Repository hmcts/juror-scheduler-api, pull requests merged in 2024-01, with the labels that each got.

#79 remove Dependency check
  .github/workflows/ci.yml
  build.gradle
Labels: ns:juror, prd:juror, rel:juror-scheduler-api-pr-79

#83 Updated test containers
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/juror/scheduler/controllers/AbstractIT.java
  src/integrationTest/java/uk/gov/hmcts/juror/scheduler/controllers/ContainerDB.java
  src/integrationTest/java/uk/gov/hmcts/juror/scheduler/testsupport/PostgresqlContainer.java
  src/main/resources/application-postgres.yml
  src/main/resources/application.yml
Labels: ns:juror, prd:juror, rel:juror-scheduler-api-pr-83

#84 Upgraded dependencies
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/juror/scheduler/controllers/SchedulerIT.java
Labels: dependencies, ns:juror, prd:juror, rel:juror-scheduler-api-pr-84

#90 adjust helm values
  charts/juror-scheduler-api/values.demo.template.yaml
  charts/juror-scheduler-api/values.stg.template.yaml
Labels: ns:juror, prd:juror, rel:juror-scheduler-api-pr-90

#92 add stg values
  charts/juror-scheduler-api/values.stg.template.yaml
Labels: ns:juror, prd:juror, rel:juror-scheduler-api-pr-92
