Repository hmcts/juror-scheduler-api, pull requests merged in 2024-03, with the labels that each got.

#139 Added enabled status to Get Job responses
  src/main/java/uk/gov/hmcts/juror/scheduler/api/model/job/details/api/APIJobDetails.java
  src/main/java/uk/gov/hmcts/juror/scheduler/api/model/job/details/api/APIJobDetailsResponse.java
  src/main/java/uk/gov/hmcts/juror/scheduler/datastore/entity/api/APIJobDetailsEntity.java
  src/main/java/uk/gov/hmcts/juror/scheduler/mapping/JobDetailsMapper.java
  src/main/java/uk/gov/hmcts/juror/scheduler/service/impl/JobServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-api-pr-139

#140 Fixed an issue where synchronous API that called the status update ap…
  build.gradle
  src/main/java/uk/gov/hmcts/juror/scheduler/service/impl/TaskServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/scheduler/service/jobs/APIJob.java
  src/main/resources/db/migration/scheduler-V2__Standing_data.sql
  src/test/java/uk/gov/hmcts/juror/scheduler/service/impl/TaskServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/scheduler/service/jobs/APIJobTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-api-pr-140

#145 Fixed issue where enabled / disabled status would not be persisted co…
  src/main/java/uk/gov/hmcts/juror/scheduler/api/controllers/JobsController.java
  src/main/java/uk/gov/hmcts/juror/scheduler/datastore/model/filter/JobSearchFilter.java
  src/main/java/uk/gov/hmcts/juror/scheduler/service/contracts/SchedulerService.java
  src/main/java/uk/gov/hmcts/juror/scheduler/service/impl/JobServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/scheduler/service/impl/SchedulerServiceImpl.java
  src/main/resources/db/migration/scheduler-V3__Standing_data_2.sql
  src/test/java/uk/gov/hmcts/juror/scheduler/service/impl/JobServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/scheduler/service/impl/SchedulerServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-api-pr-145

#150 update_codeowners
  .github/CODEOWNERS
Labels: ns:juror, prd:juror, rel:juror-scheduler-api-pr-150

#153 Fixed sonar failure
  src/main/java/uk/gov/hmcts/juror/scheduler/service/impl/JobServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-api-pr-153

#154 JWT Re-alignment
  src/main/java/uk/gov/hmcts/juror/scheduler/datastore/model/AuthenticationDefaults.java
  src/test/java/uk/gov/hmcts/juror/scheduler/datastore/model/AuthenticationDefaultsTest.java
Labels: ns:juror, prd:juror, rel:juror-scheduler-api-pr-154
